NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
NEXT_PUBLIC_MAPBOX_TOKEN=

SUPABASE_URL=
SUPABASE_SERVICE_ROLE_KEY=
INGEST_HOST=0.0.0.0
INGEST_PORT=8011
REQUIRE_DEVICE_PREEXIST=true
LOG_LEVEL=info
HEALTH_PORT=8090
